# קבצי מערכת
__pycache__/
*.pyc
*.pyo

# קבצי סביבה וירטואלית
venv/
env/
.venv/
.env

# קבצי הגדרות מערכת הפעלה
.DS_Store

# קבצי בסיס נתונים
*.sqlite3

# קבצי קונפיגורציה מקומיים
*.local
.idea/
.vscode/

# קבצי קובצי לוג
*.log

# קבצים סטטיים ומדיה (שחוזרים על עצמם או מוערכים בפרודקשן)
staticfiles/
media/